.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.discover-main-section .cover-images {
    width: 30%;
    margin-left: 2rem;
    height: auto;
    max-width: 350px;
}
.call-to-action p {
    font-size: 0.9rem;
}

.icon-section {
    display: flex;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 100px;
    height: 100px;
    background-color: #222222;
}

.icon img {
    width: 40px;
}

@media (max-width:800px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .discover-main-section .cover-images {
        margin-top: 2rem;
        height: 30vh;
        width: auto;
    }
}